.main
  .tweets
    = render "resationships/follow"
    = like_to "いいね！した投稿", likes_user_path
    投稿一覧
    .tweets_list
    = render 'tweets/tweet'
    = link_to "フォロー", following_user_path(@user)
    = @user.following.count
    = likn_to "フォロワー", following_user_path(@user)
    = @user.followers.count
    - if current_user == @user
    