.main
  .tweets
    .tweets_list
      = @username
      投稿一覧
      -  @tweet.each do |tweet|
        .tweets_list--item
          タイトル
          =  link_to tweet.title, tweet_path(tweet.id)
          内容
          =  link_to tweet.text,  tweet_path(tweet.id)
          投稿日
          =  tweet.updated_at
      = paginate(@tweets)