.left-botton
%h4.rooms-title　気になる同士
- @entries.each do |e|
  .user-name
    %strong

      %a.rooms-user-link{href: "/users/#{e.user.id}"}
        = e.user.username
        さん
%hr
.chats
  .chat_scroll
    - if @messages.present?
      - @messages.each do |m|
      %div{id: "message_#{m.id}"}
        .chatbox
          .chatbox
            .chat-face1

              .chat-hukidashi
              = m.user.username
              %br
              = m.message
              %br
              = m.created_at.strftime("%Y-%m-%d %H:%M")

              = form_with(model: @message, url: edit_message_path(m.id), remote: ture, method: :get) do |f|
                = f.hidden_field :room_id, value: @room.id
                = f.submit "編集"

              = form_with(model: @message, url: edit_message_path(m.id), remote: ture, method: :delete, data: { confirm: '削除してよろしいですか？'}) do |f|
                = f.hidden_field :room_id, value: @room.id
                = f.submit "削除"

              