<header class = "header">
  <div class= "header-contents">
    <div class= "header-top">
      <div class= "header-top_left">
        <%= link_to root_path do %>
        <h1 class= "header-top_left-title">F i r e D e p t </h1>
        <% end %>
      </div>
      <div class= "header-top_right">

        <div class= "header-top_right-user">
          <% if user_signed_in?%>
            <div class= "header-top_right-username">
              <strong><%= current_user.username %></strong>
            </div>

            <div class= "header-top_right-avatar">
              <!--%=#image_tag "#{current_user.avatar}",class: "avatar"%-->
            </div>

            <%= link_to destroy_user_session_path do%>
             <input class= "headertop_right-button" type="submit" value="ログアウト">
            <% end %>

            <li class= "dropdown">
             
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">メニュー <span class="caret"></span></a>
             <ul class= "dropdown-menu">
               <li><a href="#"><%= link_to "メッセージ" %></a></li>
               <li><a href="#"><%= link_to "ユーザー一覧"%></a></li>
               <li><a href="#"><%= link_to "消防署検索" %></a></li>
               <li><a href="#"><%= link_to "消防法令改正"%></a></li>
             </ul>
            </li>
            
          <% else %>
            
            <%= link_to new_user_registration_path do %>
             <input class= "header-top_right_button" type="submit" value="新規登録">
            <% end %>
            <%= link_to new_user_session_path do %>
             <input class= "header-top_right_button" type="submit" value="ログイン">
            <% end %>
            <%= link_to   users_guest_sign_in_path ,method: :post do %>
             <input class= "header-top_right_button" type="submit" value="ゲストログイン">
            <% end %>

            <li class= "dropdown">
             
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">メニュー <span class="caret"></span></a>
             <ul class= "dropdown-menu">
               <li><a href="#"><%= link_to "消防署検索" %></a></li>
               <li><a href="#"><%= link_to "消防法令改正"%></a></li>
             </ul>
            </li>
            user_signed_in? = <%= user_signed_in? %>

            
           
          <% end %>
          


        </div>
      </div>
      
    </div>
    <div class= "header-bottom">
     　<%= render 'layouts/login_message'%>
      <div class= "header-bottom_center">
      </div>
    </div>
  </div>
</header>